<div class="ng-star-inserted">
	<h2>Lista de Usuarios</h2>
	<br>
	<div class="row">
		<div *ngFor="let usuario of usuarios">
			<a [routerLink]="['/usuario', usuario.id]">
				<div class="card" style="width: 22rem;margin-left: 20px;margin-bottom: 40px;">
				  <div class="card-body">
				    <h5 class="card-title"><u> Datos del usuario</u> </h5>
				    <p class="card-text"> <strong> Nombre:</strong> {{usuario.Nombres }}  {{usuario.Apellidos}}</p>
				    <p class="card-text"><strong> Correo: </strong>{{usuario.Email}}</p>
				    <p class="card-text"><strong> Documento: </strong>{{usuario.Numero_Documento}}</p>
				  </div>
				</div>
			</a>
		</div>
	</div>
</div>
