<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <p class="card-category">Total Usuarios Activos</p>
                  </div>
                  <div>
                    <h3 class="card-title">10</h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <p class="card-category">Total Usuarios Inactivos</p>
                  </div>
                  <div>
                    <h3 class="card-title">20</h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <p class="card-category">Areas Activas</p>
                  </div>
                  <div>
                    <h3 class="card-title">5</h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger">
                    <p class="card-category">Areas Inactivas</p>
                </div>
                <div>
                  <h3 class="card-title">3</h3>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
